@{
    ViewData["Title"] = "";
}

<div class="text-center">
    <h1 class="display-4"><strong>Hoşgeldiniz</strong></h1>
    <p>KÜTÜPHANEM UYGULAMASINA GİRİŞ YAPABİLİRSİNİZ</p>
    <br />

    <p> <img style="width:100%" src="/img/kütüphane.jpg" </p>
</div>







