@{
    ViewData["Title"] = "Gizlilik Politikası";
}
<h1>@ViewData["Title"]</h1><hr />

<p>Sitenizin gizlilik politikasının ayrıntılarını öğrenmek için bu sayfayı kullanın.</p>
<p>Korsan ve Taklitçi Sitelerden Uzak Durun!!</p>

