@model KitapTuru

<h2>Görüşlerinizi Önemsiyoruz ! </h2><hr />
<h5>Sizlere Daha İyi Bir Hizmet Sunmamız İçin İstek Ve Şikayetlerinizi Aşağıdaki Dilek Kutusunda Belirtirseniz Seviniriz</h5>

<tr>
<textarea cols="40" rows="10" placeholder="MESAJINIZ"></textarea>

</tr>
<br />
<button type="submit" class="btn btn-lg btn-primary" style="width:250px">GÖNDER</button>
<br />
<br />

<h2>İLETİŞİM</h2>
<hr />
<h5>Cep Telefonu : +90 532 345 6800</h5>
<h5>E-Mail : ozan115331@gmail.com</h5>

