@model KitapTuru

<h2>Nobel Ödülü Almış 15 Yazar</h2><hr />
<strong><h5>1- Bernard Shaw</h5></strong>
<p>1856 yılında İrlanda’da doğan, edebiyat kariyerine müzik ve kitap eleştirileriyle başlayıp ardından tiyatro oyunlarıyla tanınan yazar Bernard Shaw Nobel Ödülü’nü 1925 yılında aldı. Eserlerinin yanı sıra sık sık dile getirdiği düşünceleriyle çağının ötesinde bir yazar olan Shaw ömrünün sonuna dek sosyalizmi savundu. “Pygmalion” adlı oyunu beyaz perdeye uyarlanan ve senarist olarak Oscar kazanarak hem Nobel hem Oscar alan ilk kişi olma ünvanına sahip olan yazarın mutlaka okumanız gereken eserleri arasında "Dört Oyun", "Akıllı Bir Kadına Rehber"ve "İnsan/Üstüninsan" sayılabilir.</p>
<br />
<h5>2- Thomas Mann</h5>
<p>Alman yazar Thomas Mann modern klasikler arasına girmiş eserleriyle 20. yüzyıl edebiyatının en önemli yazarları arasında gösteriliyor. İlk romanı olan "Buddenbrooklar: Bir Ailenin Çöküşü"  ile 1929 yılında Nobel Ödülü’ne layık görülen yazar eserleriyle olduğu kadar eleştirileriyle de dikkat çeken yazarlardan biriydi. "Doktor Faustus", "Büyülü Dağ" ve "Venedik'te Ölüm" yazarın okunması gereken başlıca eserleri arasında yer alıyor.</p>
<br />
<h5>3- Hermann Hesse</h5>
<p>Savaş karşıtı, hümanist yazarlardan biri olarak bilinen Hermann Hesse imza attığı başyapıtlarla, 20. yüzyılın en önemli yazarları arasında yer alıyor. İnsancıl söylemleriyle de okuyucunun kalbinde ayrı bir yere sahip olan yazar 1946 yılında Nobel Ödülü’nü aldı. Yazarın Nobel Edebiyat Ödülü’nü kazanmasında büyük payı olan “Boncuk Oyunu”, yazarın başyapıtı kabul edilen "Siddhartha" ve "Bozkırkurdu" yazarın okumanız gereken başlıca eserlerinden sadece birkaçı...</p>
<br />
<h5>4- Ernest Hemingway</h5>
<p>Amerikan edebiyatının tartışmasız en önemli yazarlarından biri olan Ernest Hemingway, savaş muhabirliği yapmasının ardından eserlerinde savaşın anlamsızlığına yer vermiş, gezilerinden elde ettiği izlenimleri kitaba dönüştürerek geniş kitlelere adını duyurmuş yazarlardan biri. Üslubundaki ustalıkla yazara Nobel Ödülü’nü kazandıran "Yaşlı Adam ve Deniz" yazarın ölümsüz eserlerinden biri olarak diğerlerinden ayrılıyor. Yazarın diğer ünlü eserleri arasında tüm zamanların ilk yüz romanı arasında gösterilen "Silahlara Veda"yı, "Çanlar Kimin İçin Çalıyor"u sayabiliriz.</p>
<br />
<h5>5- Albert Camus</h5>
<p>Eserleriyle olduğu kadar insan hakları konusundaki çalışmalarıyla da tanınan Albert Camus varoluşçu edebiyatın en önemli temsilcilerinden biri olarak kabul ediliyor. Eserlerinde 20. yüzyıl insanının düştüğü durumlara yer veren yazar 1957 yılında Nobel Ödülü’nü aldı. Düşünceleriyle çağının ötesinde bir yazar olarak sadece Fransa’da değil tüm dünyada kuşağının öncülerinden kabul edilen Albert Camus'nün en bilinen eseri "Veba", "Yabancı", "Düşüş" başta olmak üzere tüm eserleri okunmaya değer.</p>
<br />
<h5>6- John Steinbeck</h5>
<p>Pulitzer ve Nobel Edebiyat Ödülü’nü kazanan John Steinbeck, toplumsal ve insani meseleleri ustalıkla eserlerine yansıtan yazarların başında geliyor. Yoksulluk, dostluk, vefa, hırs ve masumiyet gibi pek çok konuyu işlediği kitabı "Fareler ve İnsanlar" yazarın en bilinen eseri olarak öne çıkıyor. Yazarın diğer önemli eserleri arasında "Gazap Üzümleri" ve "İnci" sayılıyor.</p>
<br />
<h5>7- Jean Paul Sartre</h5>
<p>Felsefe ve edebiyat alanında bıraktığı ölümsüz eserlerle edebiyat dünyasına damgasını vuran Jean Paul Sartre 1964 yılında Nobel Edebiyat Ödülü’ne layık görüldü ancak resmi payelere önem vermediğini ve bağımsızlığından taviz vermek istemediği gibi gerekçelerle reddetti. Eserlerinde sıklıkla edebi ve politik sorunları işleyen yazarı ilk kez okuyacaksanız "Varlık ve Hiçlik" ve "Bulantı" ile başlamayı deneyebilirsiniz.</p>
<br />
<h5>8- Samuel Beckett</h5>
<p>20. yüzyıl deneysel edebiyatın önemli isimlerinden biri olan Samuel Beckett yazdığı oyunlarla da tüm dünyada adından söz ettiren yazarlardan biri. Kimilerine göre tüm zamanların en iyi oyunu olarak gösterilen, yazarın da en bilinen eseri olan “Godot’yu Beklerken” İrlandalı yazarın okunması gereken başlıca eserlerinden biri. Absürt tiyatro akımının öncülerinden olan yazar 1969 yılında Nobel Ödülü’nü kazandı. Yazarın diğer önemli kitapları arasında "Proust" ve "Adlandırılamayan" sayılabilir.</p>
<br />
<h5>9- Pablo Neruda</h5>
<p>Asıl adı Ricardo Eliécer Neftalí Reyes Basoalto olan Şilili yazar ve şair Pablo Neruda Nobel Edebiyat Ödülü’nü 1971 yılında kazandı. Sembolizm ve Gerçeküstücülük akımlarının etkisinde eserler üreten Neruda "Yirmi Aşk Şiiri ve Umutsuz Bir Şarkı" adlı kitaplarıyla adını duyurdu. Bugün hâlâ şairlere ilham veren eserleriyle bilinen ünlü şairin "Yeryüzünde Konaklama"  ve "Kuşlar Sanatı" eserlerine göz atmanızı öneririz.</p>
<br />
<h5>10- Gabriel Garcia Marquez</h5>
<p>Büyülü gerçekçilik olarak anılan akımın en önemli temsilcilerinden biri olan Gabriel Garcia Marquez 1967 yılında yayımlanan "Yüzyıllık Yalnızlık" ile dünya çapında bir şöhrete kavuştu. 1982 yılında Nobel Ödülü’nü kazanan yazarın bu başyapıtının yanı sıra "Kolera Günlerinde Aşk", "Kırmızı Pazartesi" ve "Benim Hüzünlü Orospularım" yazarın mutlaka okunması gereken eserleri arasında yer alıyor.</p>
<br />
<h5>11- Nadine Gordimer</h5>
<p>Eserleri kadar ırkçılığa karşı duruşuyla da okurların saygısını kazanan Güney Afrikalı yazar Nadine Gordimer 1974 yılında aldığı Booker Ödülü’nün ardından 1991 yılında Nobel Edebiyat Ödülü’nü aldı. Özgürlük, insan hakları gibi kavramlar üzerine yoğunlaşan yazarı henüz okumadıysanız Caine Ödüllü eseri "Yuvayı Keşfetmek" ile yazarı keşfetmeye başlayabilirsiniz.</p>
<br />
<h5>12- Jose Saramago</h5>
<p>1947 yılında yayımlanan ilk kitabı “Günah Ülkesi” ile edebiyat yolculuğu başlayan Portekiz edebiyatının dünyaca ünlü yazarlarından biri olan Jose Saramago 1995 yılında yayımlanan "Körlük" kitabının ardından 1998 yılında Nobel Ödülü’nü kazandı. Şimdiden unutulmaz edebi eserler arasında yer alan “Körlük” adlı kitabının yanı sıra "Bilinmeyen Adanın Öyküsü","Kabil" ve "Görmek" adlı romanlarını da okuma listenize eklemelisiniz.</p>
<br />
<h5>13- Orhan Pamuk</h5>
<p>Bugüne kadar aldığı pek çok ödülün yanı sıra Orhan Pamuk 2006 yılında Nobel Edebiyat Ödülü’nü alarak bu ödülü alan ilk ve tek Türk yazar olma unvanına sahip oldu. Postmodernizm akımından etkilenen yazarın başlıca eserleri arasında “Yeni Hayat”, "Kara Kitap", "Kar"geliyor.</p>
<br />
<h5>14- Mo Yan</h5>
<p>Çinli yazarlar arasında en büyük şöhrete sahip olan Mo Yan eserlerindeki "evham verici gerçeklik" nedeniyle 2012 yılında Nobel Edebiyat Ödülü’ne layık bulundu. "Kızıl Darı Tarlaları"adlı eseriyle popüler yazarlardan birine dönüşen yazarın "Değişim"ve "İri Memeler ve Geniş Kalçalar" adlı eserlerine de göz atmayı ihmal etmeyin.</p>
<br />
<h5>15- Kazuo Ishiguro</h5>
<p>Japon asıllı İngiliz yazar Kazuo Ishiguro 1989 yılında yayımlanan "Günden Kalanlar" adlı romanıyla Man Booker Ödülü’nü kazanarak kitapseverler tarafından tanındı. "Beni Asla Bırakma", "Değişen Dünyada Bir Sanatçı", "Gömülü Dev" gibi eserleriyle tüm dünyada geniş bir okuyucu kitlesine ulaşan Ishiguro 2017 yılında Nobel Edebiyat Ödülü’nün sahibi oldu. Kazuo Ishiguro edebi değeri yüksek, yeni yazarları keşfetmek isteyenlerin asla kaçırmaması gereken bir yazar.</p>