@model KitapTuru


<h2>Eylül Ayı İçerisinde En Çok Okunan 10 Kitap</h2><hr />

<ol type="I" ><strong>


	<li>*İçimizdeki Şeytan*</li>
	<br />

	<li>Suç Ve Ceza</li>
	<br />

	<li>Simyacı</li>
	<br />

	<li>Beyaz Diş</li>
	<br />

	<li>Sefiller</li>
	<br />

	<li>Küçük Prens</li>
	<br />

	<li>Osmanlı Tarihi</li>
	<br />

	<li>Hayvan Çiftliği</li>
	<br />

	<li>1984</li>
	<br />

	<li>Martı Jonathan</li>
	<br />

	</strong>
</ol>

<img src="/css/0001857016001-1.jpg" width="500" height="550" />

